---
import Button from "../components/button.astro";

const intents = [undefined, "primary", "secondary"] as const;
const sizes = [undefined, "medium", "small"] as const;
const isDisabled = [false, true] as const;
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>cva: Astro with Tailwind CSS</title>
  </head>
  <body class:list={["grid", "h-full w-full", "p-6"]}>
    <table
      class:list={[
        "relative",
        "h-max w-max",
        "self-center justify-self-center",
        "[&_:where(th,td)]:p-2",
      ]}
    >
      <thead>
        <tr>
          <th></th>
          <th></th>
          {intents.map((intent) => <th scope="col">{intent || "default"}</th>)}
        </tr>
      </thead>
      <tbody>
        {
          isDisabled.map((disabled) => (
            <Fragment>
              {sizes.map((size, index) => (
                <tr>
                  {index === 0 && (
                    <th scope="rowgroup" rowspan="3">
                      {disabled ? "disabled" : "enabled"}
                    </th>
                  )}
                  <th scope="row">{size || "default"}</th>
                  {intents.map((intent) => (
                    <td scope="col">
                      <Button
                        {...(intent && { intent })}
                        {...(size && { size })}
                        {...(disabled && { disabled })}
                      >
                        {intent || "default"} button
                      </Button>
                    </td>
                  ))}
                </tr>
              ))}
            </Fragment>
          ))
        }
      </tbody>
    </table>
  </body>
</html>
