.logo {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.logo__svg {
  color: #000;
}

.logo__label {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.8rem;
  line-height: normal;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  background-color: rgba(0, 0, 0, 0.025);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

html[class~="dark"] .logo {
  filter: invert();
}

.nextra-nav-container {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

html[class~="dark"] .nextra-nav-container {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.nextra-content iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.nextra-content h3 + iframe,
.nextra-content iframe + iframe {
  margin-top: 1rem;
}
