---

---

<div
  id="carbon-container"
  class:list={[
    "relative",
    "h-38.5",
    "*:mt-0!",
    "[&+:where(h1,h2,h3,h4,h5,h6)]:mt-4!",
    "after:absolute after:inset-0 after:-z-[1] after:block after:h-32.5 after:max-w-100 after:border after:border-[hsl(0,0%,92%)] after:bg-[hsl(0,0%,98%)] after:content-['']",
  ]}
>
  <script
    is:inline
    async
    type="text/javascript"
    src="//cdn.carbonads.com/carbon.js?serve=CW7IC2QE&placement=cvastyle&format=responsive"
    id="_carbonads_js"></script>
</div>
